


<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
            
                Capitol City Flyers
            
            
                
                    - Capitol City Flyers
                
            
    </title>

    
    <meta name="description" content="" >

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Capitol City Flyers - Madison, WI (KMSN) - Capitol City Flyers">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://capcityflyers.com/static/images/cap-city-flyers-fleet.original.jpg">

    <meta property="og:title" content="Capitol City Flyers - Madison, WI (KMSN) - Capitol City Flyers" >
    <meta property="og:type" content="website" >
    <meta property="og:url" content="https://capcityflyers.com/" >
    <meta property="og:image" content="https://capcityflyers.com/static/images/cap-city-flyers-fleet.original.jpg" >
    <meta property="og:description" content="" >
    <meta property="og:site_name" content="Capitol City Flyers" >
    

    <link href="https://fonts.googleapis.com/css?family=Lato:700|Open+Sans|Overpass:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/foundation-sites/dist/css/foundation.min.dfb36a615b88.css" >
    <link rel="stylesheet" href="/static/foundation-icons/foundation-icons.106c8a81a772.css" >
    <link rel="stylesheet" href="/static/css/capcityflyers.4030609438fc.css" >

    

  </head>
  <body class="template-homepage">
    

    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a class="topbar-responsive-logo" href="/"><strong>Capitol City Flyers</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li><a href="/#aircraft">Aircraft</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="hero-section" data-interchange="[/static/images/cap-city-flyers-fleet.original.jpg, (default)],[/static/images/cap-city-flyers-fleet.small.jpg, small],[/static/images/cap-city-flyers-fleet.small-retina.jpg, small-retina],[/static/images/cap-city-flyers-fleet.medium.jpg, medium],[/static/images/cap-city-flyers-fleet.medium-retina.jpg, medium-retina],[/static/images/cap-city-flyers-fleet.large.jpg, large],[/static/images/cap-city-flyers-fleet.large-retina.jpg, large-retina],[/static/images/cap-city-flyers-fleet.xlarge.jpg, xlarge],[/static/images/cap-city-flyers-fleet.xlarge-retina.jpg, xlarge-retina]" style="background-position: 50%; background-repeat: no-repeat; background-size: cover;">
      <div class="hero-section-text">
        <h1>Madison&#39;s Premier Flying Club</h1>
        <h5>A PLANE FOR ANY MISSION</h5>
      </div>
    </div>


    <div class="grid-x grid-padding-x grid-margin-x small-up-1" style="margin: 20px 0 20px;">
        <div class="cell" style="border: 1px solid #e6e6e6; color: #0a0a0a;">
            <h3>Capitol City Flyers</h3>
            <p>CCF is Madison&#x27;s Premier Equity Flying Club, operating out of KMSN for over 60 years. We own and operate 3 IFR-certified aircraft: a Diamond DA-40 with glass cockpit, a Cessna Skylane retractable and a Piper Archer. Come join our group of like minded pilots.</p><p></p><p><b>Mission:</b></p><p>The purpose of the Club is to promote safe, enjoyable flying and aviation-related activities, and to provide the opportunity for its members to fly aircraft economically and conveniently, supported by excellent service.</p>
        </div>
    </div>

    
    <div class="grid-x grid-padding-x small-up-1 large-up-3" id="aircraft">
      

        <div class="cell">
          <div class="card card-select" data-cardSelect onclick="window.location='/n569ds/';">

            <img class="interchange" alt="Diamond DA40 - N569DS" data-interchange="[/static/images/N569DS_-_profile.original.jpg, (default)],[/static/images/N569DS_-_profile.small.jpg, small],[/static/images/N569DS_-_profile.small-retina.jpg, small-retina],[/static/images/N569DS_-_profile.medium.jpg, medium],[/static/images/N569DS_-_profile.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_profile.large.jpg, large],[/static/images/N569DS_-_profile.large-retina.jpg, large-retina],[/static/images/N569DS_-_profile.xlarge.jpg, xlarge],[/static/images/N569DS_-_profile.xlarge-retina.jpg, xlarge-retina]">
            <div class="card-section">
              <h5>Diamond DA40 - N569DS</h5>
              <p></p>
            </div>
            <a href="/n569ds/">
              <button class="button">View Aircraft</button>
            </a>
          </div>
        </div>

      

        <div class="cell">
          <div class="card card-select" data-cardSelect onclick="window.location='/n271rg/';">

            <img class="interchange" alt="Cessna Skylane - N271RG" data-interchange="[/static/images/N271RG_-_Profile.original.jpg, (default)],[/static/images/N271RG_-_Profile.small.jpg, small],[/static/images/N271RG_-_Profile.small-retina.jpg, small-retina],[/static/images/N271RG_-_Profile.medium.jpg, medium],[/static/images/N271RG_-_Profile.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Profile.large.jpg, large],[/static/images/N271RG_-_Profile.large-retina.jpg, large-retina],[/static/images/N271RG_-_Profile.xlarge.jpg, xlarge],[/static/images/N271RG_-_Profile.xlarge-retina.jpg, xlarge-retina]">
            <div class="card-section">
              <h5>Cessna Skylane - N271RG</h5>
              <p></p>
            </div>
            <a href="/n271rg/">
              <button class="button">View Aircraft</button>
            </a>
          </div>
        </div>

      

        <div class="cell">
          <div class="card card-select" data-cardSelect onclick="window.location='/n8113b/';">

            <img class="interchange" alt="Piper Archer - N8113B" data-interchange="[/static/images/N8113B_-_Profile.original.jpg, (default)],[/static/images/N8113B_-_Profile.small.jpg, small],[/static/images/N8113B_-_Profile.small-retina.jpg, small-retina],[/static/images/N8113B_-_Profile.medium.jpg, medium],[/static/images/N8113B_-_Profile.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Profile.large.jpg, large],[/static/images/N8113B_-_Profile.large-retina.jpg, large-retina],[/static/images/N8113B_-_Profile.xlarge.jpg, xlarge],[/static/images/N8113B_-_Profile.xlarge-retina.jpg, xlarge-retina]">
            <div class="card-section">
              <h5>Piper Archer - N8113B</h5>
              <p></p>
            </div>
            <a href="/n8113b/">
              <button class="button">View Aircraft</button>
            </a>
          </div>
        </div>

      
    </div>
    




   

    <footer class="marketing-site-footer grid-x grid-padding-x">
      <div class="cell medium-4">

          <h4 class="marketing-site-footer-name">Capitol City Flyers</h4>
          <p><p>30 member flying club based in Madison, WI - KMSN</p></p>

          <ul class="menu marketing-site-footer-menu-social simple">
            
            <li><a href="https://www.youtube.com/channel/UCcxC9Vn8HCWDewxca3hbwgw"><i class="fi-social-youtube" aria-hidden="true"></i></a></li>
            

            
             <li><a href="https://www.facebook.com/CapitolCityFlyers/"><i class="fi-social-facebook" aria-hidden="true"></i></a></li>
             
          </ul>
        </div>
        <div class="cell medium-6" id="contact">
          
           <h4 class="marketing-site-footer-title">Contact Info</h4>
          

          
          <div class="marketing-site-footer-block">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p><a href="mailto:info@capcityflyers.com">info@capcityflyers.com</a></p>
          </div>
          

           
          <div class="marketing-site-footer-block">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p><a href="https://goo.gl/maps/EuZ6eK4Weavv459x6" target="_blank">3499 Miller St, Madison, WI 53704</a></p>
          </div>
          

          
          <div class="marketing-site-footer-block">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>608-220-6281</p>
          </div>
          
        </div>
      </div>

      <div class="cell medium-6 marketing-site-footer-bottom">
            <p>&copy; Capitol City Flyers</p>
      </div>
      <div class="cell auto marketing-site-footer-bottom">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="/">Home</a></li>
          <li><a href="/#aircraft">Aircraft</a></li>
          <li><a href="/membership">Membership</a></li>
        </ul>
      </div>

    </footer>

    <script src="/static/jquery/dist/jquery.min.220afd743d9e.js"></script>
    <script src="/static/what-input/dist/what-input.min.15d9cb31286a.js"></script>
    <script src="/static/foundation-sites/dist/js/foundation.min.388ba20d330c.js"></script>
    <script src="/static/foundation-sites/dist/js/plugins/foundation.util.mediaQuery.min.16642c3f5648.js"></script>
    <script src="/static/foundation-sites/dist/js/plugins/foundation.interchange.min.5c7baddbda54.js"></script>
    <script type="text/javascript" src="/static/js/capcityflyers.d41d8cd98f00.js"></script>

    <script>
      Foundation.Interchange.SPECIAL_QUERIES['small-retina'] = 'only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['medium-retina'] = 'only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['large-retina'] = 'only screen and (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['xlarge-retina'] = 'only screen and (min-width: 1441px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';

      $(document).foundation();
    </script>

    
        
    

  </body>
</html>