


<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
            
                Cessna Skylane R182 - N271RG (Retractable Gear)
            
            
                
                    - Capitol City Flyers
                
            
    </title>

    
    <meta name="description" content="" >

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Cessna Skylane R182 - N271RG (Retractable Gear) - Capitol City Flyers">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://capcityflyers.com/static/images/N271RG_-_Profile_Down.original.jpg">

    <meta property="og:title" content="Cessna Skylane R182 - N271RG (Retractable Gear) - Capitol City Flyers" >
    <meta property="og:type" content="website" >
    <meta property="og:url" content="https://capcityflyers.com/n271rg/" >
    <meta property="og:image" content="https://capcityflyers.com/static/images/N271RG_-_Profile_Down.original.jpg" >
    <meta property="og:description" content="" >
    <meta property="og:site_name" content="Capitol City Flyers" >
    

    <link href="https://fonts.googleapis.com/css?family=Lato:700|Open+Sans|Overpass:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/foundation-icons/foundation-icons.css" >
    <link rel="stylesheet" href="/static/css/capcityflyers.css" >

    

  </head>
  <body class="aircraft-page">
    

    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a class="topbar-responsive-logo" href="/"><strong>Capitol City Flyers</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li><a href="/#aircraft">Aircraft</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="grid-x grid-padding-y grid-padding-x" style="margin-bottom: -20px;">
        <div class="cell">
            <nav aria-label="You are here:" role="navigation">
              <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><a href="/#aircraft">Aircraft</a></li>
                <li class="disabled">Cessna Skylane - N271RG</li>
              </ul>
            </nav>
        </div>
    </div>


    <div class="grid-x grid-padding-x small-up-1">
        <div class="cell">
            <div class="card">
              <img class="interchange" alt="Cessna Skylane - N271RG" data-interchange="[/static/images/N271RG_-_Profile_Down.original.jpg, (default)],[/static/images/N271RG_-_Profile_Down.small.jpg, small],[/static/images/N271RG_-_Profile_Down.small-retina.jpg, small-retina],[/static/images/N271RG_-_Profile_Down.medium.jpg, medium],[/static/images/N271RG_-_Profile_Down.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Profile_Down.large.jpg, large],[/static/images/N271RG_-_Profile_Down.large-retina.jpg, large-retina],[/static/images/N271RG_-_Profile_Down.xlarge.jpg, xlarge],[/static/images/N271RG_-_Profile_Down.xlarge-retina.jpg, xlarge-retina]">
            </div>
        </div>

        <div class="cell">
            <h1>Cessna Skylane - N271RG</h1>

            
        </div>
    </div>


    <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">

        
        <div class="cell">
            <div class="card">
                <div class="card-divider">
                    <h5>Billing Rate:</h5>
                </div>
                <div class="card-section">

                    
                    <p><strong>Wet Rate:</strong> $182/tach hr</p>
                    

                    
                    <p><strong>Dry Rate:</strong> $93/tach hr</p>
                    

                    
                    <p><small>Rates last updated on June 12, 2022</small></p>
                    
                </div>
            </div>
        </div>
        

        

        

    </div>


    
    <div class="grid-x grid-padding-x small-up-1">

        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Cessna Skylane - N271RG (1)" data-interchange="[/static/images/N271RG_-_Nose_Angled.original.jpg, (default)],[/static/images/N271RG_-_Nose_Angled.small.jpg, small],[/static/images/N271RG_-_Nose_Angled.small-retina.jpg, small-retina],[/static/images/N271RG_-_Nose_Angled.medium.jpg, medium],[/static/images/N271RG_-_Nose_Angled.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Nose_Angled.large.jpg, large],[/static/images/N271RG_-_Nose_Angled.large-retina.jpg, large-retina],[/static/images/N271RG_-_Nose_Angled.xlarge.jpg, xlarge],[/static/images/N271RG_-_Nose_Angled.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                
                <div class="card-divider">
                    <h5>Avionics</h5>
                </div>
                

                <img class="interchange" alt="Cessna Skylane - N271RG - Avionics" data-interchange="[/static/images/N271RG_-_Avionics.original.jpg, (default)],[/static/images/N271RG_-_Avionics.small.jpg, small],[/static/images/N271RG_-_Avionics.small-retina.jpg, small-retina],[/static/images/N271RG_-_Avionics.medium.jpg, medium],[/static/images/N271RG_-_Avionics.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Avionics.large.jpg, large],[/static/images/N271RG_-_Avionics.large-retina.jpg, large-retina],[/static/images/N271RG_-_Avionics.xlarge.jpg, xlarge],[/static/images/N271RG_-_Avionics.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Cessna Skylane - N271RG (3)" data-interchange="[/static/images/N271RG_-_Panel_Copilot_Angle.original.jpg, (default)],[/static/images/N271RG_-_Panel_Copilot_Angle.small.jpg, small],[/static/images/N271RG_-_Panel_Copilot_Angle.small-retina.jpg, small-retina],[/static/images/N271RG_-_Panel_Copilot_Angle.medium.jpg, medium],[/static/images/N271RG_-_Panel_Copilot_Angle.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Panel_Copilot_Angle.large.jpg, large],[/static/images/N271RG_-_Panel_Copilot_Angle.large-retina.jpg, large-retina],[/static/images/N271RG_-_Panel_Copilot_Angle.xlarge.jpg, xlarge],[/static/images/N271RG_-_Panel_Copilot_Angle.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Cessna Skylane - N271RG (4)" data-interchange="[/static/images/N271RG_-_Skyward_Shot.original.jpg, (default)],[/static/images/N271RG_-_Skyward_Shot.small.jpg, small],[/static/images/N271RG_-_Skyward_Shot.small-retina.jpg, small-retina],[/static/images/N271RG_-_Skyward_Shot.medium.jpg, medium],[/static/images/N271RG_-_Skyward_Shot.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Skyward_Shot.large.jpg, large],[/static/images/N271RG_-_Skyward_Shot.large-retina.jpg, large-retina],[/static/images/N271RG_-_Skyward_Shot.xlarge.jpg, xlarge],[/static/images/N271RG_-_Skyward_Shot.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Cessna Skylane - N271RG (5)" data-interchange="[/static/images/N271RG_-_Side.original.jpg, (default)],[/static/images/N271RG_-_Side.small.jpg, small],[/static/images/N271RG_-_Side.small-retina.jpg, small-retina],[/static/images/N271RG_-_Side.medium.jpg, medium],[/static/images/N271RG_-_Side.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Side.large.jpg, large],[/static/images/N271RG_-_Side.large-retina.jpg, large-retina],[/static/images/N271RG_-_Side.xlarge.jpg, xlarge],[/static/images/N271RG_-_Side.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Cessna Skylane - N271RG (6)" data-interchange="[/static/images/N271RG_-_Nose.original.jpg, (default)],[/static/images/N271RG_-_Nose.small.jpg, small],[/static/images/N271RG_-_Nose.small-retina.jpg, small-retina],[/static/images/N271RG_-_Nose.medium.jpg, medium],[/static/images/N271RG_-_Nose.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Nose.large.jpg, large],[/static/images/N271RG_-_Nose.large-retina.jpg, large-retina],[/static/images/N271RG_-_Nose.xlarge.jpg, xlarge],[/static/images/N271RG_-_Nose.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Cessna Skylane - N271RG (7)" data-interchange="[/static/images/N271RG_-_Skylane_RG_Logo.original.jpg, (default)],[/static/images/N271RG_-_Skylane_RG_Logo.small.jpg, small],[/static/images/N271RG_-_Skylane_RG_Logo.small-retina.jpg, small-retina],[/static/images/N271RG_-_Skylane_RG_Logo.medium.jpg, medium],[/static/images/N271RG_-_Skylane_RG_Logo.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Skylane_RG_Logo.large.jpg, large],[/static/images/N271RG_-_Skylane_RG_Logo.large-retina.jpg, large-retina],[/static/images/N271RG_-_Skylane_RG_Logo.xlarge.jpg, xlarge],[/static/images/N271RG_-_Skylane_RG_Logo.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Cessna Skylane - N271RG (8)" data-interchange="[/static/images/N271RG_-_Tail.original.jpg, (default)],[/static/images/N271RG_-_Tail.small.jpg, small],[/static/images/N271RG_-_Tail.small-retina.jpg, small-retina],[/static/images/N271RG_-_Tail.medium.jpg, medium],[/static/images/N271RG_-_Tail.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Tail.large.jpg, large],[/static/images/N271RG_-_Tail.large-retina.jpg, large-retina],[/static/images/N271RG_-_Tail.xlarge.jpg, xlarge],[/static/images/N271RG_-_Tail.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Cessna Skylane - N271RG (9)" data-interchange="[/static/images/N271RG_-_Tail_Angled.original.jpg, (default)],[/static/images/N271RG_-_Tail_Angled.small.jpg, small],[/static/images/N271RG_-_Tail_Angled.small-retina.jpg, small-retina],[/static/images/N271RG_-_Tail_Angled.medium.jpg, medium],[/static/images/N271RG_-_Tail_Angled.medium-retina.jpg, medium-retina],[/static/images/N271RG_-_Tail_Angled.large.jpg, large],[/static/images/N271RG_-_Tail_Angled.large-retina.jpg, large-retina],[/static/images/N271RG_-_Tail_Angled.xlarge.jpg, xlarge],[/static/images/N271RG_-_Tail_Angled.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        

    </div>
    





   

    <footer class="marketing-site-footer grid-x grid-padding-x">
      <div class="cell medium-4">

          <h4 class="marketing-site-footer-name">Capitol City Flyers</h4>
          <p><p>30 member flying club based in Madison, WI - KMSN</p></p>

          <ul class="menu marketing-site-footer-menu-social simple">
            
            <li><a href="https://www.youtube.com/channel/UCcxC9Vn8HCWDewxca3hbwgw"><i class="fi-social-youtube" aria-hidden="true"></i></a></li>
            

            
             <li><a href="https://www.facebook.com/CapitolCityFlyers/"><i class="fi-social-facebook" aria-hidden="true"></i></a></li>
             
          </ul>
        </div>
        <div class="cell medium-6" id="contact">
          
           <h4 class="marketing-site-footer-title">Contact Info</h4>
          

          
          <div class="marketing-site-footer-block">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p><a href="mailto:info@capcityflyers.com">info@capcityflyers.com</a></p>
          </div>
          

           
          <div class="marketing-site-footer-block">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p><a href="https://goo.gl/maps/EuZ6eK4Weavv459x6" target="_blank">3499 Miller St, Madison, WI 53704</a></p>
          </div>
          

          
          <div class="marketing-site-footer-block">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>608-220-6281</p>
          </div>
          
        </div>
      </div>

      <div class="cell medium-6 marketing-site-footer-bottom">
            <p>&copy; Capitol City Flyers</p>
      </div>
      <div class="cell auto marketing-site-footer-bottom">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="/">Home</a></li>
          <li><a href="/#aircraft">Aircraft</a></li>
          <li><a href="/membership">Membership</a></li>
        </ul>
      </div>

    </footer>
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/what-input/src/scripts/what-input.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <script src="/static/foundation-sites/js/foundation.util.mediaQuery.js"></script>
    <script src="/static/foundation-sites/js/foundation.interchange.js"></script>
    <script type="text/javascript" src="/static/js/capcityflyers.js"></script>

    <script>
      Foundation.Interchange.SPECIAL_QUERIES['small-retina'] = 'only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['medium-retina'] = 'only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['large-retina'] = 'only screen and (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['xlarge-retina'] = 'only screen and (min-width: 1441px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';

      $(document).foundation();
    </script>

    
        
    

  </body>
</html>