


<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
            
                Diamond DA40 - N569DS
            
            
                
                    - Capitol City Flyers
                
            
    </title>

    
    <meta name="description" content="" >

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Diamond DA40 - N569DS - Capitol City Flyers">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://capcityflyers.com/static/images/N569DS_-_nose_skyward.original.jpg">

    <meta property="og:title" content="Diamond DA40 - N569DS - Capitol City Flyers" >
    <meta property="og:type" content="website" >
    <meta property="og:url" content="https://capcityflyers.com/n569ds/" >
    <meta property="og:image" content="https://capcityflyers.com/static/images/N569DS_-_nose_skyward.original.jpg" >
    <meta property="og:description" content="" >
    <meta property="og:site_name" content="Capitol City Flyers" >
    

    <link href="https://fonts.googleapis.com/css?family=Lato:700|Open+Sans|Overpass:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/foundation-sites/dist/css/foundation.min.dfb36a615b88.css" >
    <link rel="stylesheet" href="/static/foundation-icons/foundation-icons.106c8a81a772.css" >
    <link rel="stylesheet" href="/static/css/capcityflyers.4030609438fc.css" >

    

  </head>
  <body class="aircraft-page">
    

    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a class="topbar-responsive-logo" href="/"><strong>Capitol City Flyers</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li><a href="/#aircraft">Aircraft</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="grid-x grid-padding-y grid-padding-x" style="margin-bottom: -20px;">
        <div class="cell">
            <nav aria-label="You are here:" role="navigation">
              <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><a href="/#aircraft">Aircraft</a></li>
                <li class="disabled">Diamond DA40 - N569DS</li>
              </ul>
            </nav>
        </div>
    </div>


    <div class="grid-x grid-padding-x small-up-1">
        <div class="cell">
            <div class="card">
              <img class="interchange" alt="Diamond DA40 - N569DS" data-interchange="[/static/images/N569DS_-_nose_skyward.original.jpg, (default)],[/static/images/N569DS_-_nose_skyward.small.jpg, small],[/static/images/N569DS_-_nose_skyward.small-retina.jpg, small-retina],[/static/images/N569DS_-_nose_skyward.medium.jpg, medium],[/static/images/N569DS_-_nose_skyward.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_nose_skyward.large.jpg, large],[/static/images/N569DS_-_nose_skyward.large-retina.jpg, large-retina],[/static/images/N569DS_-_nose_skyward.xlarge.jpg, xlarge],[/static/images/N569DS_-_nose_skyward.xlarge-retina.jpg, xlarge-retina]">
            </div>
        </div>

        <div class="cell">
            <h1>Diamond DA40 - N569DS</h1>

            
        </div>
    </div>


    <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">

        
        <div class="cell">
            <div class="card">
                <div class="card-divider">
                    <h5>Billing Rate:</h5>
                </div>
                <div class="card-section">

                    
                    <p><strong>Wet Rate:</strong> $145/tach hr</p>
                    

                    
                    <p><strong>Dry Rate:</strong> $86/tach hr</p>
                    

                    
                    <p><small>Rates last updated on June 12, 2022</small></p>
                    
                </div>
            </div>
        </div>
        

        

        

    </div>


    
    <div class="grid-x grid-padding-x small-up-1">

        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (1)" data-interchange="[/static/images/N569DS_-_canopy_open.original.jpg, (default)],[/static/images/N569DS_-_canopy_open.small.jpg, small],[/static/images/N569DS_-_canopy_open.small-retina.jpg, small-retina],[/static/images/N569DS_-_canopy_open.medium.jpg, medium],[/static/images/N569DS_-_canopy_open.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_canopy_open.large.jpg, large],[/static/images/N569DS_-_canopy_open.large-retina.jpg, large-retina],[/static/images/N569DS_-_canopy_open.xlarge.jpg, xlarge],[/static/images/N569DS_-_canopy_open.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (2)" data-interchange="[/static/images/N569DS_-_panel_one.original.jpg, (default)],[/static/images/N569DS_-_panel_one.small.jpg, small],[/static/images/N569DS_-_panel_one.small-retina.jpg, small-retina],[/static/images/N569DS_-_panel_one.medium.jpg, medium],[/static/images/N569DS_-_panel_one.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_panel_one.large.jpg, large],[/static/images/N569DS_-_panel_one.large-retina.jpg, large-retina],[/static/images/N569DS_-_panel_one.xlarge.jpg, xlarge],[/static/images/N569DS_-_panel_one.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (3)" data-interchange="[/static/images/N569DS_-_panel_two.original.jpg, (default)],[/static/images/N569DS_-_panel_two.small.jpg, small],[/static/images/N569DS_-_panel_two.small-retina.jpg, small-retina],[/static/images/N569DS_-_panel_two.medium.jpg, medium],[/static/images/N569DS_-_panel_two.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_panel_two.large.jpg, large],[/static/images/N569DS_-_panel_two.large-retina.jpg, large-retina],[/static/images/N569DS_-_panel_two.xlarge.jpg, xlarge],[/static/images/N569DS_-_panel_two.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (4)" data-interchange="[/static/images/N569DS_-_cabin_right.original.jpg, (default)],[/static/images/N569DS_-_cabin_right.small.jpg, small],[/static/images/N569DS_-_cabin_right.small-retina.jpg, small-retina],[/static/images/N569DS_-_cabin_right.medium.jpg, medium],[/static/images/N569DS_-_cabin_right.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_cabin_right.large.jpg, large],[/static/images/N569DS_-_cabin_right.large-retina.jpg, large-retina],[/static/images/N569DS_-_cabin_right.xlarge.jpg, xlarge],[/static/images/N569DS_-_cabin_right.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (5)" data-interchange="[/static/images/N569DS-wide-angle_hmmPoul.original.jpg, (default)],[/static/images/N569DS-wide-angle_hmmPoul.small.jpg, small],[/static/images/N569DS-wide-angle_hmmPoul.small-retina.jpg, small-retina],[/static/images/N569DS-wide-angle_hmmPoul.medium.jpg, medium],[/static/images/N569DS-wide-angle_hmmPoul.medium-retina.jpg, medium-retina],[/static/images/N569DS-wide-angle_hmmPoul.large.jpg, large],[/static/images/N569DS-wide-angle_hmmPoul.large-retina.jpg, large-retina],[/static/images/N569DS-wide-angle_hmmPoul.xlarge.jpg, xlarge],[/static/images/N569DS-wide-angle_hmmPoul.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (6)" data-interchange="[/static/images/N569DS_-_nose.original.jpg, (default)],[/static/images/N569DS_-_nose.small.jpg, small],[/static/images/N569DS_-_nose.small-retina.jpg, small-retina],[/static/images/N569DS_-_nose.medium.jpg, medium],[/static/images/N569DS_-_nose.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_nose.large.jpg, large],[/static/images/N569DS_-_nose.large-retina.jpg, large-retina],[/static/images/N569DS_-_nose.xlarge.jpg, xlarge],[/static/images/N569DS_-_nose.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (7)" data-interchange="[/static/images/N569DS_-_doors_open.original.jpg, (default)],[/static/images/N569DS_-_doors_open.small.jpg, small],[/static/images/N569DS_-_doors_open.small-retina.jpg, small-retina],[/static/images/N569DS_-_doors_open.medium.jpg, medium],[/static/images/N569DS_-_doors_open.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_doors_open.large.jpg, large],[/static/images/N569DS_-_doors_open.large-retina.jpg, large-retina],[/static/images/N569DS_-_doors_open.xlarge.jpg, xlarge],[/static/images/N569DS_-_doors_open.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (8)" data-interchange="[/static/images/N569DS_-_tail.original.jpg, (default)],[/static/images/N569DS_-_tail.small.jpg, small],[/static/images/N569DS_-_tail.small-retina.jpg, small-retina],[/static/images/N569DS_-_tail.medium.jpg, medium],[/static/images/N569DS_-_tail.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_tail.large.jpg, large],[/static/images/N569DS_-_tail.large-retina.jpg, large-retina],[/static/images/N569DS_-_tail.xlarge.jpg, xlarge],[/static/images/N569DS_-_tail.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (9)" data-interchange="[/static/images/N569DS_-_diamond_star_logo.original.jpg, (default)],[/static/images/N569DS_-_diamond_star_logo.small.jpg, small],[/static/images/N569DS_-_diamond_star_logo.small-retina.jpg, small-retina],[/static/images/N569DS_-_diamond_star_logo.medium.jpg, medium],[/static/images/N569DS_-_diamond_star_logo.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_diamond_star_logo.large.jpg, large],[/static/images/N569DS_-_diamond_star_logo.large-retina.jpg, large-retina],[/static/images/N569DS_-_diamond_star_logo.xlarge.jpg, xlarge],[/static/images/N569DS_-_diamond_star_logo.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (10)" data-interchange="[/static/images/N569DS_-_data_plate.original.jpg, (default)],[/static/images/N569DS_-_data_plate.small.jpg, small],[/static/images/N569DS_-_data_plate.small-retina.jpg, small-retina],[/static/images/N569DS_-_data_plate.medium.jpg, medium],[/static/images/N569DS_-_data_plate.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_data_plate.large.jpg, large],[/static/images/N569DS_-_data_plate.large-retina.jpg, large-retina],[/static/images/N569DS_-_data_plate.xlarge.jpg, xlarge],[/static/images/N569DS_-_data_plate.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (11)" data-interchange="[/static/images/N569DS_-_baggage.original.jpg, (default)],[/static/images/N569DS_-_baggage.small.jpg, small],[/static/images/N569DS_-_baggage.small-retina.jpg, small-retina],[/static/images/N569DS_-_baggage.medium.jpg, medium],[/static/images/N569DS_-_baggage.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_baggage.large.jpg, large],[/static/images/N569DS_-_baggage.large-retina.jpg, large-retina],[/static/images/N569DS_-_baggage.xlarge.jpg, xlarge],[/static/images/N569DS_-_baggage.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (12)" data-interchange="[/static/images/N569DS_-_cabin_copilot.original.jpg, (default)],[/static/images/N569DS_-_cabin_copilot.small.jpg, small],[/static/images/N569DS_-_cabin_copilot.small-retina.jpg, small-retina],[/static/images/N569DS_-_cabin_copilot.medium.jpg, medium],[/static/images/N569DS_-_cabin_copilot.medium-retina.jpg, medium-retina],[/static/images/N569DS_-_cabin_copilot.large.jpg, large],[/static/images/N569DS_-_cabin_copilot.large-retina.jpg, large-retina],[/static/images/N569DS_-_cabin_copilot.xlarge.jpg, xlarge],[/static/images/N569DS_-_cabin_copilot.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Diamond DA40 - N569DS (13)" data-interchange="[/static/images/N569DS-wide-angle.original.jpg, (default)],[/static/images/N569DS-wide-angle.small.jpg, small],[/static/images/N569DS-wide-angle.small-retina.jpg, small-retina],[/static/images/N569DS-wide-angle.medium.jpg, medium],[/static/images/N569DS-wide-angle.medium-retina.jpg, medium-retina],[/static/images/N569DS-wide-angle.large.jpg, large],[/static/images/N569DS-wide-angle.large-retina.jpg, large-retina],[/static/images/N569DS-wide-angle.xlarge.jpg, xlarge],[/static/images/N569DS-wide-angle.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        

    </div>
    





   

    <footer class="marketing-site-footer grid-x grid-padding-x">
      <div class="cell medium-4">

          <h4 class="marketing-site-footer-name">Capitol City Flyers</h4>
          <p><p>30 member flying club based in Madison, WI - KMSN</p></p>

          <ul class="menu marketing-site-footer-menu-social simple">
            
            <li><a href="https://www.youtube.com/channel/UCcxC9Vn8HCWDewxca3hbwgw"><i class="fi-social-youtube" aria-hidden="true"></i></a></li>
            

            
             <li><a href="https://www.facebook.com/CapitolCityFlyers/"><i class="fi-social-facebook" aria-hidden="true"></i></a></li>
             
          </ul>
        </div>
        <div class="cell medium-6" id="contact">
          
           <h4 class="marketing-site-footer-title">Contact Info</h4>
          

          
          <div class="marketing-site-footer-block">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p><a href="mailto:info@capcityflyers.com">info@capcityflyers.com</a></p>
          </div>
          

           
          <div class="marketing-site-footer-block">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p><a href="https://goo.gl/maps/EuZ6eK4Weavv459x6" target="_blank">3499 Miller St, Madison, WI 53704</a></p>
          </div>
          

          
          <div class="marketing-site-footer-block">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>608-220-6281</p>
          </div>
          
        </div>
      </div>

      <div class="cell medium-6 marketing-site-footer-bottom">
            <p>&copy; Capitol City Flyers</p>
      </div>
      <div class="cell auto marketing-site-footer-bottom">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="/">Home</a></li>
          <li><a href="/#aircraft">Aircraft</a></li>
          <li><a href="/membership">Membership</a></li>
        </ul>
      </div>

    </footer>

    <script src="/static/jquery/dist/jquery.min.220afd743d9e.js"></script>
    <script src="/static/what-input/dist/what-input.min.15d9cb31286a.js"></script>
    <script src="/static/foundation-sites/dist/js/foundation.min.388ba20d330c.js"></script>
    <script src="/static/foundation-sites/dist/js/plugins/foundation.util.mediaQuery.min.16642c3f5648.js"></script>
    <script src="/static/foundation-sites/dist/js/plugins/foundation.interchange.min.5c7baddbda54.js"></script>
    <script type="text/javascript" src="/static/js/capcityflyers.d41d8cd98f00.js"></script>

    <script>
      Foundation.Interchange.SPECIAL_QUERIES['small-retina'] = 'only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['medium-retina'] = 'only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['large-retina'] = 'only screen and (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['xlarge-retina'] = 'only screen and (min-width: 1441px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';

      $(document).foundation();
    </script>

    
        
    

  </body>
</html>