


<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
            
                Piper Archer - N8113B
            
            
                
                    - Capitol City Flyers
                
            
    </title>

    
    <meta name="description" content="" >

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Piper Archer - N8113B - Capitol City Flyers">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://capcityflyers.com/static/images/N8113B_-_Rear_Looking_Forward.original.jpg">

    <meta property="og:title" content="Piper Archer - N8113B - Capitol City Flyers" >
    <meta property="og:type" content="website" >
    <meta property="og:url" content="https://capcityflyers.com/n8113b/" >
    <meta property="og:image" content="https://capcityflyers.com/static/images/N8113B_-_Rear_Looking_Forward.original.jpg" >
    <meta property="og:description" content="" >
    <meta property="og:site_name" content="Capitol City Flyers" >
    

    <link href="https://fonts.googleapis.com/css?family=Lato:700|Open+Sans|Overpass:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/foundation-sites/dist/css/foundation.min.dfb36a615b88.css" >
    <link rel="stylesheet" href="/static/foundation-icons/foundation-icons.106c8a81a772.css" >
    <link rel="stylesheet" href="/static/css/capcityflyers.4030609438fc.css" >

    

  </head>
  <body class="aircraft-page">
    

    <nav class="top-bar topbar-responsive">
      <div class="top-bar-title">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a class="topbar-responsive-logo" href="/"><strong>Capitol City Flyers</strong></a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links">
        <div class="top-bar-right">
          <ul class="menu simple vertical medium-horizontal">
            <li><a href="/#aircraft">Aircraft</a></li>
            <li><a href="/membership">Membership</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>



    <div class="grid-x grid-padding-y grid-padding-x" style="margin-bottom: -20px;">
        <div class="cell">
            <nav aria-label="You are here:" role="navigation">
              <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><a href="/#aircraft">Aircraft</a></li>
                <li class="disabled">Piper Archer - N8113B</li>
              </ul>
            </nav>
        </div>
    </div>


    <div class="grid-x grid-padding-x small-up-1">
        <div class="cell">
            <div class="card">
              <img class="interchange" alt="Piper Archer - N8113B" data-interchange="[/static/images/N8113B_-_Rear_Looking_Forward.original.jpg, (default)],[/static/images/N8113B_-_Rear_Looking_Forward.small.jpg, small],[/static/images/N8113B_-_Rear_Looking_Forward.small-retina.jpg, small-retina],[/static/images/N8113B_-_Rear_Looking_Forward.medium.jpg, medium],[/static/images/N8113B_-_Rear_Looking_Forward.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Rear_Looking_Forward.large.jpg, large],[/static/images/N8113B_-_Rear_Looking_Forward.large-retina.jpg, large-retina],[/static/images/N8113B_-_Rear_Looking_Forward.xlarge.jpg, xlarge],[/static/images/N8113B_-_Rear_Looking_Forward.xlarge-retina.jpg, xlarge-retina]">
            </div>
        </div>

        <div class="cell">
            <h1>Piper Archer - N8113B</h1>

            
        </div>
    </div>


    <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-3">

        
        <div class="cell">
            <div class="card">
                <div class="card-divider">
                    <h5>Billing Rate:</h5>
                </div>
                <div class="card-section">

                    
                    <p><strong>Wet Rate:</strong> $121/tach hr</p>
                    

                    

                    
                    <p><small>Rates last updated on June 12, 2022</small></p>
                    
                </div>
            </div>
        </div>
        

        

        

    </div>


    
    <div class="grid-x grid-padding-x small-up-1">

        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (1)" data-interchange="[/static/images/N8113B_-_Wide_Shot.original.jpg, (default)],[/static/images/N8113B_-_Wide_Shot.small.jpg, small],[/static/images/N8113B_-_Wide_Shot.small-retina.jpg, small-retina],[/static/images/N8113B_-_Wide_Shot.medium.jpg, medium],[/static/images/N8113B_-_Wide_Shot.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Wide_Shot.large.jpg, large],[/static/images/N8113B_-_Wide_Shot.large-retina.jpg, large-retina],[/static/images/N8113B_-_Wide_Shot.xlarge.jpg, xlarge],[/static/images/N8113B_-_Wide_Shot.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (2)" data-interchange="[/static/images/N8113B_-_Avionics_Cockpit_Copilot_Seat.original.jpg, (default)],[/static/images/N8113B_-_Avionics_Cockpit_Copilot_Seat.small.jpg, small],[/static/images/N8113B_-_Avionics_Cockpit_Copilot_Seat.small-retina.jpg, small-retina],[/static/images/N8113B_-_Avionics_Cockpit_Copilot_Seat.medium.jpg, medium],[/static/images/N8113B_-_Avionics_Cockpit_Copilot_Seat.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Avionics_Cockpit_Copilot_Seat.large.jpg, large],[/static/images/N8113B_-_Avionics_Cockpit_Copilot_Seat.large-retina.jpg, large-retina],[/static/images/N8113B_-_Avionics_Cockpit_Copilot_Seat.xlarge.jpg, xlarge],[/static/images/N8113B_-_Avionics_Cockpit_Copilot_Seat.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (3)" data-interchange="[/static/images/N8113B_-_Avionics_Zoomed_Out.original.jpg, (default)],[/static/images/N8113B_-_Avionics_Zoomed_Out.small.jpg, small],[/static/images/N8113B_-_Avionics_Zoomed_Out.small-retina.jpg, small-retina],[/static/images/N8113B_-_Avionics_Zoomed_Out.medium.jpg, medium],[/static/images/N8113B_-_Avionics_Zoomed_Out.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Avionics_Zoomed_Out.large.jpg, large],[/static/images/N8113B_-_Avionics_Zoomed_Out.large-retina.jpg, large-retina],[/static/images/N8113B_-_Avionics_Zoomed_Out.xlarge.jpg, xlarge],[/static/images/N8113B_-_Avionics_Zoomed_Out.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (4)" data-interchange="[/static/images/N8113B_-_Avionics.original.jpg, (default)],[/static/images/N8113B_-_Avionics.small.jpg, small],[/static/images/N8113B_-_Avionics.small-retina.jpg, small-retina],[/static/images/N8113B_-_Avionics.medium.jpg, medium],[/static/images/N8113B_-_Avionics.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Avionics.large.jpg, large],[/static/images/N8113B_-_Avionics.large-retina.jpg, large-retina],[/static/images/N8113B_-_Avionics.xlarge.jpg, xlarge],[/static/images/N8113B_-_Avionics.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (5)" data-interchange="[/static/images/N8113B_-_Interior_Front_Seats.original.jpg, (default)],[/static/images/N8113B_-_Interior_Front_Seats.small.jpg, small],[/static/images/N8113B_-_Interior_Front_Seats.small-retina.jpg, small-retina],[/static/images/N8113B_-_Interior_Front_Seats.medium.jpg, medium],[/static/images/N8113B_-_Interior_Front_Seats.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Interior_Front_Seats.large.jpg, large],[/static/images/N8113B_-_Interior_Front_Seats.large-retina.jpg, large-retina],[/static/images/N8113B_-_Interior_Front_Seats.xlarge.jpg, xlarge],[/static/images/N8113B_-_Interior_Front_Seats.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (6)" data-interchange="[/static/images/N8113B_-_Interior_Rear_Seats.original.jpg, (default)],[/static/images/N8113B_-_Interior_Rear_Seats.small.jpg, small],[/static/images/N8113B_-_Interior_Rear_Seats.small-retina.jpg, small-retina],[/static/images/N8113B_-_Interior_Rear_Seats.medium.jpg, medium],[/static/images/N8113B_-_Interior_Rear_Seats.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Interior_Rear_Seats.large.jpg, large],[/static/images/N8113B_-_Interior_Rear_Seats.large-retina.jpg, large-retina],[/static/images/N8113B_-_Interior_Rear_Seats.xlarge.jpg, xlarge],[/static/images/N8113B_-_Interior_Rear_Seats.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (7)" data-interchange="[/static/images/N8113B_-_Cabin_Door_Open.original.jpg, (default)],[/static/images/N8113B_-_Cabin_Door_Open.small.jpg, small],[/static/images/N8113B_-_Cabin_Door_Open.small-retina.jpg, small-retina],[/static/images/N8113B_-_Cabin_Door_Open.medium.jpg, medium],[/static/images/N8113B_-_Cabin_Door_Open.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Cabin_Door_Open.large.jpg, large],[/static/images/N8113B_-_Cabin_Door_Open.large-retina.jpg, large-retina],[/static/images/N8113B_-_Cabin_Door_Open.xlarge.jpg, xlarge],[/static/images/N8113B_-_Cabin_Door_Open.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (8)" data-interchange="[/static/images/N8113B_-_Rear_Facing_Forward.original.jpg, (default)],[/static/images/N8113B_-_Rear_Facing_Forward.small.jpg, small],[/static/images/N8113B_-_Rear_Facing_Forward.small-retina.jpg, small-retina],[/static/images/N8113B_-_Rear_Facing_Forward.medium.jpg, medium],[/static/images/N8113B_-_Rear_Facing_Forward.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Rear_Facing_Forward.large.jpg, large],[/static/images/N8113B_-_Rear_Facing_Forward.large-retina.jpg, large-retina],[/static/images/N8113B_-_Rear_Facing_Forward.xlarge.jpg, xlarge],[/static/images/N8113B_-_Rear_Facing_Forward.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (9)" data-interchange="[/static/images/N8113B_-_Nose_Slightly_Off_Side.original.jpg, (default)],[/static/images/N8113B_-_Nose_Slightly_Off_Side.small.jpg, small],[/static/images/N8113B_-_Nose_Slightly_Off_Side.small-retina.jpg, small-retina],[/static/images/N8113B_-_Nose_Slightly_Off_Side.medium.jpg, medium],[/static/images/N8113B_-_Nose_Slightly_Off_Side.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Nose_Slightly_Off_Side.large.jpg, large],[/static/images/N8113B_-_Nose_Slightly_Off_Side.large-retina.jpg, large-retina],[/static/images/N8113B_-_Nose_Slightly_Off_Side.xlarge.jpg, xlarge],[/static/images/N8113B_-_Nose_Slightly_Off_Side.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (10)" data-interchange="[/static/images/N8113B_-_Nose_Slightly_Off_Center.original.jpg, (default)],[/static/images/N8113B_-_Nose_Slightly_Off_Center.small.jpg, small],[/static/images/N8113B_-_Nose_Slightly_Off_Center.small-retina.jpg, small-retina],[/static/images/N8113B_-_Nose_Slightly_Off_Center.medium.jpg, medium],[/static/images/N8113B_-_Nose_Slightly_Off_Center.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Nose_Slightly_Off_Center.large.jpg, large],[/static/images/N8113B_-_Nose_Slightly_Off_Center.large-retina.jpg, large-retina],[/static/images/N8113B_-_Nose_Slightly_Off_Center.xlarge.jpg, xlarge],[/static/images/N8113B_-_Nose_Slightly_Off_Center.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (11)" data-interchange="[/static/images/N8113B_-_Data_Plate.original.jpg, (default)],[/static/images/N8113B_-_Data_Plate.small.jpg, small],[/static/images/N8113B_-_Data_Plate.small-retina.jpg, small-retina],[/static/images/N8113B_-_Data_Plate.medium.jpg, medium],[/static/images/N8113B_-_Data_Plate.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Data_Plate.large.jpg, large],[/static/images/N8113B_-_Data_Plate.large-retina.jpg, large-retina],[/static/images/N8113B_-_Data_Plate.xlarge.jpg, xlarge],[/static/images/N8113B_-_Data_Plate.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (12)" data-interchange="[/static/images/N8113B_-_Tail_Number.original.jpg, (default)],[/static/images/N8113B_-_Tail_Number.small.jpg, small],[/static/images/N8113B_-_Tail_Number.small-retina.jpg, small-retina],[/static/images/N8113B_-_Tail_Number.medium.jpg, medium],[/static/images/N8113B_-_Tail_Number.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Tail_Number.large.jpg, large],[/static/images/N8113B_-_Tail_Number.large-retina.jpg, large-retina],[/static/images/N8113B_-_Tail_Number.xlarge.jpg, xlarge],[/static/images/N8113B_-_Tail_Number.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        
          <div class="cell">
            <div class="card" >

                

                <img class="interchange" alt="Piper Archer - N8113B (13)" data-interchange="[/static/images/N8113B_-_Fancy_Tail_No_Push.original.jpg, (default)],[/static/images/N8113B_-_Fancy_Tail_No_Push.small.jpg, small],[/static/images/N8113B_-_Fancy_Tail_No_Push.small-retina.jpg, small-retina],[/static/images/N8113B_-_Fancy_Tail_No_Push.medium.jpg, medium],[/static/images/N8113B_-_Fancy_Tail_No_Push.medium-retina.jpg, medium-retina],[/static/images/N8113B_-_Fancy_Tail_No_Push.large.jpg, large],[/static/images/N8113B_-_Fancy_Tail_No_Push.large-retina.jpg, large-retina],[/static/images/N8113B_-_Fancy_Tail_No_Push.xlarge.jpg, xlarge],[/static/images/N8113B_-_Fancy_Tail_No_Push.xlarge-retina.jpg, xlarge-retina]">

                
            </div>
          </div>
        

    </div>
    





   

    <footer class="marketing-site-footer grid-x grid-padding-x">
      <div class="cell medium-4">

          <h4 class="marketing-site-footer-name">Capitol City Flyers</h4>
          <p><p>30 member flying club based in Madison, WI - KMSN</p></p>

          <ul class="menu marketing-site-footer-menu-social simple">
            
            <li><a href="https://www.youtube.com/channel/UCcxC9Vn8HCWDewxca3hbwgw"><i class="fi-social-youtube" aria-hidden="true"></i></a></li>
            

            
             <li><a href="https://www.facebook.com/CapitolCityFlyers/"><i class="fi-social-facebook" aria-hidden="true"></i></a></li>
             
          </ul>
        </div>
        <div class="cell medium-6" id="contact">
          
           <h4 class="marketing-site-footer-title">Contact Info</h4>
          

          
          <div class="marketing-site-footer-block">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <p><a href="mailto:info@capcityflyers.com">info@capcityflyers.com</a></p>
          </div>
          

           
          <div class="marketing-site-footer-block">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p><a href="https://goo.gl/maps/EuZ6eK4Weavv459x6" target="_blank">3499 Miller St, Madison, WI 53704</a></p>
          </div>
          

          
          <div class="marketing-site-footer-block">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <p>608-220-6281</p>
          </div>
          
        </div>
      </div>

      <div class="cell medium-6 marketing-site-footer-bottom">
            <p>&copy; Capitol City Flyers</p>
      </div>
      <div class="cell auto marketing-site-footer-bottom">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="/">Home</a></li>
          <li><a href="/#aircraft">Aircraft</a></li>
          <li><a href="/membership">Membership</a></li>
        </ul>
      </div>

    </footer>

    <script src="/static/jquery/dist/jquery.min.220afd743d9e.js"></script>
    <script src="/static/what-input/dist/what-input.min.15d9cb31286a.js"></script>
    <script src="/static/foundation-sites/dist/js/foundation.min.388ba20d330c.js"></script>
    <script src="/static/foundation-sites/dist/js/plugins/foundation.util.mediaQuery.min.16642c3f5648.js"></script>
    <script src="/static/foundation-sites/dist/js/plugins/foundation.interchange.min.5c7baddbda54.js"></script>
    <script type="text/javascript" src="/static/js/capcityflyers.d41d8cd98f00.js"></script>

    <script>
      Foundation.Interchange.SPECIAL_QUERIES['small-retina'] = 'only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['medium-retina'] = 'only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['large-retina'] = 'only screen and (min-width: 1201px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
      Foundation.Interchange.SPECIAL_QUERIES['xlarge-retina'] = 'only screen and (min-width: 1441px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';

      $(document).foundation();
    </script>

    
        
    

  </body>
</html>